body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {


}
.header1 {
    background-color: #FFFBF3;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.header1 a {
    color: black;
    text-decoration: none;
}

.logo img {
    height: 50px;
}

/*.header2 {

    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}*/
.header2 {
    background-color: #2AA398;
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.header2 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Adicione esta linha */
}

.header2 nav li {
    margin: 0 15px;
}

.header2 nav a {
    color: white;
    text-decoration: none;
}


.hero {
    background-color: #D1E9E9;
    padding: 50px 20px;
    width: 95%;
    display:flex;
}

.carousel {
    position: relative;
    overflow: hidden;
    display: flex;
    
}

.slide {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    padding: 20px;
}

.slide img {
    width: 25%;
    position:relative;
    display: flex;
    right: 20px;
}

.slide .caption {
    bottom: 20px;
    left: 20px;
    color: white;
    padding: 10px;
    font-size: 50px;
    flex-direction: column;

    text-align: left;
    flex-wrap:balance;
    width: 50%;
}

.slide .caption p {
    font-size: 32px;
    margin: 0;
}

.slide button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #2AA398;
    color: white;
    border: none;
    cursor: pointer;
}

.ongs, .adoption {
    padding: 50px 20px;
    text-align: center;
}

.ongs-list, .animals {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ong, .animal {
    margin: 10px;
}

.ong img, .animal img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}
